body {
    margin: 0 auto;
}

.button1 {    
    background-color: aqua;
    margin-left: 50%;
    margin-top: 5%;
    cursor: pointer;    
}

.enterfield {
    background-color: tomato;
}

.button2 {    
    background-color: green;    
    cursor: pointer;    
}